//
// See LICENSE folder for this sample’s licensing information.
//
// SampleCode.xcconfig
//

// *** DELETE THE INCLUDE AND SET DEVELOPMENT_TEAM TO YOUR TEAM ID ***
#include "DEVELOPMENT_TEAM.xcconfig"
// DEVELOPMENT_TEAM = XXXXXXXXXX

// The `SAMPLE_CODE_DISAMBIGUATOR` configuration is to make it easier to build
// and run a sample code project. Once you set your project's development team,
// you'll have a unique bundle identifier. This is because the bundle identifier
// is derived based on the 'SAMPLE_CODE_DISAMBIGUATOR' value. Do not use this
// approach in your own projects—it's only useful for sample code projects because
// they are frequently downloaded and don't have a development team set.
SAMPLE_CODE_DISAMBIGUATOR=${DEVELOPMENT_TEAM}

APP_INFO_PLIST = AUv3Filter/Info.plist
FRAMEWORK_INFO_PLIST = AUv3FilterFramework/Info.plist

AU_FILTER_EXTENSION_PRODUCT_NAME = AUv3FilterDemo
AU_FILTER_EXTENSION_INFO_PLIST = AUv3FilterExtension/Info.plist

AU_MIDI_EXTENSION_PRODUCT_NAME = AUv3MIDIExtension
AU_MIDI_EXTENSION_INFO_PLIST = AUv3MIDIExtension/Info.plist

BASE_IDENTIFIER = com.nikolozi.auv3-samplecode.${SAMPLE_CODE_DISAMBIGUATOR}
APP_IDENTIFIER = ${BASE_IDENTIFIER}.AUv3Filter
FRAMEWORK_IDENTIFIER = ${APP_IDENTIFIER}.Framework
AU_FILTER_EXTENSION_IDENTIFIER = ${APP_IDENTIFIER}.${AU_FILTER_EXTENSION_PRODUCT_NAME}
AU_MIDI_EXTENSION_IDENTIFIER = ${APP_IDENTIFIER}.${AU_MIDI_EXTENSION_PRODUCT_NAME}

CODE_SIGN_ENTITLEMENTS = AUv3Filter/App.entitlements
AU_ENTITLEMENTS = Shared/AU.entitlements
